//Color Variables

    $gray       : #4F4F4F;

    $mint       : #D0E9DD;

    $white      : #E8EAE9;


//Positioning Variables


    $margin-auto: auto;

    $text-center: center;

    $block      : block;

    $left       : left;

    $right      : right;

    $none       : none;




