header{
    @include header-t;
    li{
       
        
        @include list-position;
        @media (min-width:1024px){
            width:150px;
            display:inline-block;    
        }
     
    }
    h2{
        
        padding:10px;
    }
    p{
        padding:20px;  
    }  
}
.profile_intro{
    @media (min-width:1024px){
        clear:both;
    }
}

