header{
    @include header-t;
   
    li{
       
        display: none;
        @include list-position;
        @media (min-width:1024px){
            width:150px;
            display:inline-block; 
             
        }
        background:$mint;
        
    }
    
    h2{
        
        padding:10px;
    }
    p{
        padding:20px;  
    }  
}
main{
    @media (min-width:768px){
        clear:both;
    }
 
}
.profile_intro{
    @media (min-width:1024px){
        clear:both;
    }
}

