
.flex-position{
    display:inline-flex;
    flex-wrap: wrap;
}

main{
    @media (min-width:768px){
        clear:both;
    }
}
.Portfolio{
    background:$mint;
    margin-top: 50px;
   @extend .flex-position;
    img{
        max-width:94%;
}
    p {
        padding-bottom: 45px;
}
    h2{
        width:100%;
        padding:5px 0;
}
    .item{
        @include item;
    }
}

  
