@mixin list-position{
    @media (min-width:768px){
        padding:10px;
        position: relative;
        margin: 10px $margin-auto;
        border-radius: 2px;
        width: 100%;
        margin-left:-15px;
        background: $white;
        display: inherit;
    }
}
@mixin header-t{
    @media (min-width:768px){
      
        p{  
            font-size: 1.333rem;
            max-width: 500px;
        }
        .header-nav li{
            background:$mint;
}
    
    }
    
    @media (min-width:1024px){
  
        .header-nav{
           float:$right;
           max-width:600px;
        }
        .header-nav li{
            background:$white;
        }
        h2{
            float:$left;
            width:200px;
        }
        img{
            float:$right;
            margin-right:225px;
        }
        p{
            width:25%;
            float:$left;
            font-size: 1.333rem;
            margin-top:25px;
            margin-left:125px;
        }
   
    }
}
@mixin item {
    @media (min-width:768px){
    width:49%;
    }
    @media (min-width:1024px){
        width:33%; 
        margin:auto;
    }

}
@mixin foot{

    @media (min-width:768px){
        footer{
            height: 20px;
        }
        .Portfolio{
            display:inline-flex;
            flex-wrap: wrap;
            background:#D0E9DD;
        }
        .contact p {
            width:40%;
        }
        .mobile_footer{
            display: none;
        }
        .large_footer{
            display: inherit;
        }
        .large_footer p{
           float:right;
            text-align: right;
        }
        .large_footer p:nth-of-type(1){
            float:left;
            width:100px;
        }
    }

}